<?xml version="1.0"?>
<config>
	<modules>
		<GoDataFeed_Services>
			<version>1.0.3</version>
		</GoDataFeed_Services>
	</modules>
	<global>
		<models>
			<services>
				<class>GoDataFeed_Services_Model</class>
			</services>
		</models>
		<helpers>
			<services>
				<class>GoDataFeed_Services_Helper</class>
			</services>
		</helpers>
	</global>
</config>